.navbar-wrapper {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #EDEDF5;
  background: whitesmoke;
}
.nav-wrapper {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #EDEDF5;
  background: yellow;
}